.container {
  min-height: calc(100vh - 70px);
}

.row {
  min-height: inherit;
}

input {
  padding-left: 20px;
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 20px;
  box-shadow: inset 2px 2px 5px silver, 3px 3px 6px grey;
}
